.about{
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin: 80px 170px;

}
.about-intro {
  display: flex;
    align-items: flex-start; 
    gap: 60px;
    width: 100%;
}
.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.about-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.about-sections{
    display: flex;
    flex-direction: row;  
    align-items: center; 
    justify-content: space-between;
    gap: 60px;
    width: 100%;
   
}
.about-left{
    flex: 1;
}
.about-left img {
   width: 380px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
     margin-top: -60px;
}
.about-right{
       display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}
.about-skills {
   display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}
.about-skills h2 {
  text-align: center;
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 20px;
}

.skills-category h3 {
   text-align: center;
  font-size: 30px;
  color: #B415FF; 
  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;           
  justify-content: center;   
  gap: 30px;                 
  max-width: calc(4 * 170px + 3 * 30px); 
  margin: 0 auto;          
}


.skill-card {
  background: #111;
  padding: 25px;
  border-radius: 12px;
  width: 170px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  transition: transform 0.3s ease, background 0.5s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.skill-card:hover {
  transform: translateY(-10px) scale(1.05);
  background: linear-gradient(135deg, #DF8908, #B415FF, #08DFFF);
  background-size: 300% 300%;
  animation: gradientAnimation 3s ease infinite;
  box-shadow: 0 8px 20px rgba(255, 66, 244, 0.6);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.skill-card img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.skill-card:hover img {
  transform: scale(1.2);
}

.skill-card p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: color 0.3s ease;
}

.skill-card:hover p {
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
